@import "tailwindcss";

.container {
  @apply flex h-6 bg-sky-600;
}

.newsHeadline {
  @apply bg-red-600 font-extrabold italic text-white w-40 text-center;
}

.text {
  @apply text-white font-bold px-4 italic;
}
