@import "tailwindcss";

.container {
  @apply bg-white p-3 w-fit flex flex-col border border-black/20 rounded-lg h-fit;
}

.btn {
  @apply font-bold text-white px-4 py-2 text-lg leading-6 rounded-3xl w-fit bg-[#0a66c2] my-2;
}

.description p {
  @apply font-normal leading-6 text-gray-600;
}

.title {
  @apply font-medium text-3xl leading-12;
}
